<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace = 接口的全限定符 -->
<mapper namespace="com.lyl.yph.user.mapper.UserAddressMapper">

    <resultMap id="userAddressMap" type="com.lyl.yph.model.entity.user.UserAddress" autoMapping="true">
    </resultMap>

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        id,user_id,name,phone,tag_name,province_code,city_code,district_code,address,
        full_address,is_default,create_time,update_time,is_deleted
    </sql>

    <!--根据userId获取地址信息-->
    <select id="findByUserId" resultMap="userAddressMap">
        select
            <include refid="columns" />
        from
            user_address
        where
            user_id = #{userId}
    </select>

    <!--根据id获取地址信息-->
    <select id="getById" resultMap="userAddressMap">
        select
            <include refid="columns" />
        from
            user_address
        where
            id = #{id}
    </select>


</mapper>